*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: medium;
    color: rosybrown;
    min-height: 100vh;
    background-image: url(../v1064-36-kvc4sbxw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*nav bar*/
#heads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(251, 227, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

#navi a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

#navi a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
}

#navi a:hover::before {
    width: 100%;
}

/*contact page*/
#contacty {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
}
.form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 35px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    text-align: center;
    align-items: center;
}
.textarea-field {
    height: 180px;
    padding-top: 10px;
    align-items: center;
}
.btn {
    border-radius: 30px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: bisque;
    padding-top: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

/*checkout page*/
#heading {
    width: 100vw;
    min-height: 12vh;
    background: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#contents{
    position: absolute;
    background: #fff;
    max-width: 400px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 #999;
    top: 25%;
    left: 37%;
    
}
#formy {
   padding: 1rem;
   text-align:center;
}
#head1{
    margin-top: 1rem;
    color: rosybrown;
    text-align:center;
}
#zubarr {
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
    border: 1px solid #777;
    border-radius: 15px;
    text-align:center;
}
form input[type="Submit"] {
    width: 100%;
    padding: 0.7rem 1.5rem;
    margin-top: 0.5rem 0;
    outline: none;
    border: 1px solid #777;
    border-radius: 15px;
    text-align: center;
}
