*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: medium;
    color: rosybrown;
    min-height: 100vh;
    background-image: url(../v1064-36-kvc4sbxw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*nav bar*/
#heads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(251, 227, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

#navi a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

#navi a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
}

#navi a:hover::before {
    width: 100%;
}

/*home page*/
#rowyourboat {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}
#column {
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
}
#huh {
    color: rosybrown;
    font-size: 40px;  
    text-align: left;
    margin-left: 150px;
    margin-right: 250px;
    margin-top: 180px; 
}
#no {
    color: rosybrown;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    margin-left: 150px;
    margin-right: 250px;
    margin-top: 2px;
}
.card{
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 2px solid #777;
    align-items: center;
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 100px;
    margin: 15px 25px;
    background-image: url(../a\ million\ kisses\ in\ your\ lifetime.jpeg);
    background-position: center;
    background-size: cover;
}
#card1 {
background-image: url(../a\ million\ kisses\ in\ your\ lifetime.jpeg);
}
#card2 {
    background-image: url(../things\ we\ never\ got\ over.jpeg);
}
#card3 {
    background-image: url(../the\ cheat\ sheet.jpeg);
}
#card4 {
    background-image: url(../they\ both\ die\ at\ the\ end.jpeg);
}
#buttony {
    border-radius: 30px;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 146px;
    padding: 10px;
    background-color: bisque;
    padding-top: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

/*About Page*/
#contacties {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    left: 20%;
    position: relative;
    margin-top: 100px;
    float: left;
    margin: 10px;
}
#fontt {
    text-align: center;
    font-size: small;
}
#hun {
    text-align: center;
}

/*contact page*/
#contacty {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    display: flex;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: relative;
    margin: 35px;
    margin-top: 230px;
    margin-bottom: -130px;
}
.form {
    margin: 35px;
}
.input-field {
    width: 350px;
    height: 35px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    text-align: center;
    align-items: center;
}
.textarea-field {
    height: 180px;
    padding-top: 10px;
    align-items: center;
}
.btn {
    border-radius: 30px;
    color: #fff;
    margin-top: 8px;
    padding: 10px;
    background-color: bisque;
    padding-top: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 8px;
}

/*checkout page*/
#heading {
    width: 100vw;
    min-height: 12vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contents{
    position: relative;
    background: #fff;
    max-width: 400px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 #999;
    top: 25%;
    left: 37%;   
}
#formy {
   padding: 1rem;
   text-align:center;
}
#head1{
    margin-top: 1rem;
    color: rosybrown;
    text-align:center;
}
#zubarr {
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
    border: 1px solid #777;
    border-radius: 15px;
    text-align: left;
}
#fontsy {
    text-align: center;
}
form input[type="Submit"] {
    width: 100%;
    padding: 0.7rem 1.5rem;
    margin-top: 0.5rem 0;
    outline: none;
    border: 1px solid #777;
    border-radius: 15px;
    text-align: center;
}

/*footer*/
.footer {
    text-align: center;
    align-items: center;
    margin-top: 150px;
}
#footsy {
    text-align: center;
    margin-top: 600px;
}

/*product page*/
.product img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}
.pt-3 {
    display: flex;
    text-wrap: wrap;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 30px 10px;
}
.footer-one col-lg-3 col-md-6 col-12 {
    position: relative;
    background: #fff;
    max-width: 400px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 #999;
    top: 25%;
    left: 37%; 

}